* {
	margin: 0;
	padding: 0;
}

body {
	background-color: cyan;
}

span {
	color: red;
}

.mainHome {
	width: 350px;
	border: 2px solid black;
	margin: auto;
	margin-top: 20%;
	border-radius: 5px;
}

.createAccount {
	width: 350px;
	border: 2px solid black;
	margin: auto;
	margin-top: 20%;
	border-radius: 5px;
}